/**
 * Mojang API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * OpenAPI spec version: 2020-06-05
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.github.asyncmc.mojang.api.scala.lagom.server.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import com.github.asyncmc.mojang.api.scala.lagom.server.model.OrderStatisticsRequest
import com.github.asyncmc.mojang.api.scala.lagom.server.model.OrderStatisticsResponse

trait MiscellaneousApi extends Service {


  final override def descriptor = {
    import Service._
    named("MiscellaneousApi").withCalls(
      restCall(Method.POST, "/orders/statistics", getOrdersStatistics _)
    ).withAutoAcl(true)
  }


  /**
    * Get statistics on the sales of Minecraft.
    * 
    *  
    * @return OrderStatisticsResponse Body Parameter  The payload is a json list of options under the metricKeys key. You will receive a single object corresponding to the sum of sales of the requested type(s). You must request at least one type of sale. Below is the default list used by https://minecraft.net/en/stats/ 
    */
  def getOrdersStatistics(): ServiceCall[OrderStatisticsRequest ,OrderStatisticsResponse]
  

  }

