/**
 * Mojang API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * OpenAPI spec version: 2020-06-05
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.github.asyncmc.mojang.api.scala.lagom.server.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import com.github.asyncmc.mojang.api.scala.lagom.server.model.Error
import com.github.asyncmc.mojang.api.scala.lagom.server.model.SecurityAnswer
import com.github.asyncmc.mojang.api.scala.lagom.server.model.SecurityChallenge

trait SecurityQuestionAnswerApi extends Service {


  final override def descriptor = {
    import Service._
    named("SecurityQuestionAnswerApi").withCalls(
      restCall(Method.GET, "/user/security/location", checkSecurityStatus _), 
      restCall(Method.GET, "/user/security/challenges", listPendingSecurityQuestions _), 
      restCall(Method.POST, "/user/security/location", sendSecurityQuestionAnswers _)
    ).withAutoAcl(true)
  }


  /**
    * Check if security questions are needed
    * 
    * 
    * @return void
    */
  def checkSecurityStatus(): ServiceCall[NotUsed ,Done]
  
  /**
    * Get list of questions
    * 
    * 
    * @return Seq[SecurityChallenge]
    */
  def listPendingSecurityQuestions(): ServiceCall[NotUsed ,Seq[SecurityChallenge]]
  
  /**
    * Send back the answers
    * 
    *  
    * @return void Body Parameter  An array with all the answers 
    */
  def sendSecurityQuestionAnswers(): ServiceCall[Seq[SecurityAnswer] ,Done]
  

  }

