=begin
#Mojang Session API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

OpenAPI spec version: 2020-06-05

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 3.3.4

=end

require 'uri'

module OpenapiClient
  class LoginApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets the player's game profile
    # This will return the player's username plus any additional information about them (e.g. skins). This has a much stricter rate limit: You can request the same profile once per minute, however you can send as many unique requests as you like.
    # @param stripped_uuid The player UUID without hyphens
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :unsigned When set to false, the signature data are sent
    # @return [PlayerProfile]
    def get_player_profile(stripped_uuid, opts = {})
      data, _status_code, _headers = get_player_profile_with_http_info(stripped_uuid, opts)
      data
    end

    # Gets the player&#39;s game profile
    # This will return the player&#39;s username plus any additional information about them (e.g. skins). This has a much stricter rate limit: You can request the same profile once per minute, however you can send as many unique requests as you like.
    # @param stripped_uuid The player UUID without hyphens
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :unsigned When set to false, the signature data are sent
    # @return [Array<(PlayerProfile, Fixnum, Hash)>] PlayerProfile data, response status code and response headers
    def get_player_profile_with_http_info(stripped_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoginApi.get_player_profile ...'
      end
      # verify the required parameter 'stripped_uuid' is set
      if @api_client.config.client_side_validation && stripped_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'stripped_uuid' when calling LoginApi.get_player_profile"
      end
      # resource path
      local_var_path = '/session/minecraft/profile/{stripped_uuid}'.sub('{' + 'stripped_uuid' + '}', stripped_uuid.to_s)

      # query parameters
      query_params = {}
      query_params[:'unsigned'] = opts[:'unsigned'] if !opts[:'unsigned'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PlayerProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoginApi#get_player_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

  end
end
