/**
 * Mojang API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * OpenAPI spec version: 2020-06-05
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.Error
import java.io.File
import io.swagger.client.model.SkinModel

trait SkinOperationsApi extends Service {


  final override def descriptor = {
    import Service._
    named("SkinOperationsApi").withCalls(
      restCall(Method.POST, "/user/profile/:stripped_uuid/skin", changePlayerSkin _), 
      restCall(Method.DELETE, "/user/profile/:stripped_uuid/skin", resetPlayerSkin _), 
      restCall(Method.PUT, "/user/profile/:stripped_uuid/skin", uploadPlayerSkin _)
    ).withAutoAcl(true)
  }



  // url:String  -- not yet supported x-www-form-urlencoded
  // model:SkinModel  -- not yet supported x-www-form-urlencoded
  /**
    * Changes the player skin by URL
    * This will set the skin for the selected profile, but Mojang&#39;s servers will fetch the skin from a URL. This will also work for legacy accounts.
    *  
    * @param strippedUuid The player UUID without hyphens  
    * @param url The URL which Mojang servers will download and apply the skin  
    * @param model  (optional)
    * @return void
    */
  def changePlayerSkin(strippedUuid: String): ServiceCall[NotUsed ,Done]
  
  /**
    * Resets the player skin to default
    * 
    *  
    * @param strippedUuid The player UUID without hyphens 
    * @return void
    */
  def resetPlayerSkin(strippedUuid: String): ServiceCall[NotUsed ,Done]
  

  // file:File  -- not yet supported x-www-form-urlencoded
  // model:SkinModel  -- not yet supported x-www-form-urlencoded
  /**
    * Changes the player skin by upload
    * This uploads a skin to Mojang&#39;s servers. It also sets the users skin. This works on legacy counts as well.
    *  
    * @param strippedUuid The player UUID without hyphens  
    * @param file The skin image in PNG format  
    * @param model  (optional)
    * @return void
    */
  def uploadPlayerSkin(strippedUuid: String): ServiceCall[NotUsed ,Done]
  

  }

