/**
 * Mojang API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * OpenAPI spec version: 2020-06-05
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CurrentPlayerIDs
import org.openapitools.client.model.Error
import org.openapitools.client.model.NameChange
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object NameHistoryApi {

  /**
   * Find the current players name, UUID, demo status and migration flag by the current players name. The \"at\" parameter is not supported. Players not found are not returned. If no players are found, an empty array is returned.
   * 
   * Expected answers:
   *   code 200 : Seq[CurrentPlayerIDs] (An array containing all players found)
   * 
   * @param requestBody Array with the player names
   */
  def findUniqueIdsByName(requestBody: Seq[String]): ApiRequest[Seq[CurrentPlayerIDs]] =
    ApiRequest[Seq[CurrentPlayerIDs]](ApiMethods.POST, "https://api.mojang.com", "/profiles/minecraft", "application/json")
      .withBody(requestBody)
      .withSuccessResponse[Seq[CurrentPlayerIDs]](200)
        /**
   * Expected answers:
   *   code 200 : Seq[NameChange] (A list of name changes, the first entry usually don't have a change time)
   *   code 204 :  (Username not found at the given time)
   * 
   * @param strippedUuid The player UUID without hyphens
   */
  def getNameHistory(strippedUuid: String): ApiRequest[Seq[NameChange]] =
    ApiRequest[Seq[NameChange]](ApiMethods.GET, "https://api.mojang.com", "/user/profiles/{stripped_uuid}/names", "application/json")
      .withPathParam("stripped_uuid", strippedUuid)
      .withSuccessResponse[Seq[NameChange]](200)
      .withErrorResponse[Unit](204)
        /**
   * Find the current player name, UUID, demo status and migration flag by the current player name or at a given time.
   * 
   * Expected answers:
   *   code 200 : CurrentPlayerIDs (The user was found)
   *   code 204 :  (User not found)
   *   code 400 : Error (If the timestamp is invalid)
   * 
   * @param username The username in a given time, or in present if \"at\" is not sent
   * @param at Find the username in a given time, when 0 selects the original name however, it only works if the name was changed at least once, or if the account is legacy. The time is an UNIX timestamp (without milliseconds)
   */
  def getUniqueIdByName(username: String, at: Option[Long] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://api.mojang.com", "/users/profiles/minecraft/{username}", "application/json")
      .withQueryParam("at", at)
      .withPathParam("username", username)
      .withSuccessResponse[CurrentPlayerIDs](200)
      .withErrorResponse[Unit](204)
      .withErrorResponse[Error](400)
      

}

