# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule MojangAPI.Api.Miscellaneous do
  @moduledoc """
  API calls for all endpoints tagged `Miscellaneous`.
  """

  alias MojangAPI.Connection
  import MojangAPI.RequestBuilder


  @doc """
  Get statistics on the sales of Minecraft.

  ## Parameters

  - connection (MojangAPI.Connection): Connection to server
  - order_statistics_request (OrderStatisticsRequest): The payload is a json list of options under the metricKeys key. You will receive a single object corresponding to the sum of sales of the requested type(s). You must request at least one type of sale. Below is the default list used by https://minecraft.net/en/stats/
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, %MojangAPI.Model.OrderStatisticsResponse{}} on success
  {:error, info} on failure
  """
  @spec get_orders_statistics(Tesla.Env.client, MojangAPI.Model.OrderStatisticsRequest.t, keyword()) :: {:ok, MojangAPI.Model.OrderStatisticsResponse.t} | {:error, Tesla.Env.t}
  def get_orders_statistics(connection, order_statistics_request, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/orders/statistics")
    |> add_param(:body, :body, order_statistics_request)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%MojangAPI.Model.OrderStatisticsResponse{})
  end
end
