<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite>
            <directory>.\Tests\Api</directory>
            <directory>.\Tests\Model</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="Tests/" />
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.\.//com/github/asyncmc/mojang/api/php/symfony/api</directory>
            <directory suffix=".php">.\.//com/github/asyncmc/mojang/api/php/symfony/model</directory>
        </whitelist>
    </filter>
</phpunit>
